.title {
  font-size: 36px;
  border-bottom: solid black 2px;
  margin: 10px;
  margin-bottom: 20px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input-box {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
  width: 300px;
}

.input {
  border-radius: 5px;
  border-style: solid;
  border-width: thin;
}

label {
  margin: 5px;
}

.submit {
  margin: 10px;
}

.result {
  margin-top: 30px;
  border-top: solid black 2px;
}

.result-title {
  font-size: 24px;
  margin: 5px;
}

.result-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.words {
  display: none;
}
